- var title = "Эксикация - электронно-поэтическое разоблачение";
- var header = "ΞxικaџιѦ";

doctype html
html(class="no-js", lang="en")
  head
    title #{title}
    meta(charset="utf-8")
    meta(viewport="utf-8" content="width=device-width")

    //- Fonts
    link(href="https://fonts.googleapis.com/css?family=Merriweather|Open+Sans", rel="stylesheet")

    //- External CSS
    link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css", integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB", crossorigin="anonymous")

    //- Custom CSS
    link(rel="stylesheet", href="css/main.css")

  body

    //- Preloader
    //- #preloader.preloader

    //- Heder
    header.header
      .header-body
        .header-title
          h2.glitch(data-text=header) #{header}

          p.subtitle
            span e-poetical   <s class="mistake">cursing</s>    <span>denunciation</span>


    //- Preamble
    .preamble-panel
      .container
        .row
          .col-md
            .preamble
              ul
                li <span class="preamble-attr">title:</span> #{header}
                li <span class="preamble-attr">start:</span> 10.07.2018
                li <span class="preamble-attr">finish:</span> 20:32 4.08.2018
                li <span class="preamble-attr">update:</span> 24.09.2018
                li <span class="preamble-attr">season:</span> summer
                li <span class="preamble-attr">text:</span> <a href="http://lj.rossia.org/users/kyzma/775501.html" target="_blank">http://lj.rossia.org/users/kyzma/775501.html</a>
                li <span class="preamble-attr">music:</span> Müldeponie - L'Espoir Défunt

            audio(src="sound/muldeponie.mp3", type="audio/mpeg", preload="auto", class="audiojs")



    //- Preface
    .container.intro
      .row
        .col-md
          .content
            h3 Intro

            .content-body
              p.
                :) Очередной эксперимент с поэтическими системами.

              p.
                Эта система включает в себя:
              ul
                li - синтетические продукты интеллекта
                li - воображаемые чувства: и так, чтобы не в лицо, а легким дуновением ветра в знойный день... с горящей свалки
                li - воображаемую картинку: завораживает океанская гладь... в дымке смога
                li - попытку представить в масштабах листочка

              h3 ⁂

              p.text-center Посвящается политически-романтическим причинам




    //- Intro
    .container
      .row
        .col-md
          .content
            h3 Preface

            .content-body
              h4 На листочке написано:

              p.
                "Ещё возможностей. Осадок ненависти. Развлечение на чужих ошибках.
                Измерение масштабов самообмана. Ненависть перезрела; Отвалилась
                иссохшим листком. Никому не нужный лежит, превращаясь в компост.
                Поднялся воспоминаниями, оформился."

              h4 Добро пожаловать в Эксикацию:

              ul
                li - оживление забываемого
                li - привет из соседнего измерения
                li - процесс подготовки в гербарий

              h4 На другом листочке:

              p.
                "К неодумению — как самим себе можно выбирать самообман;
                Почему терпеть и потворствовать разграблению своих жалких накоплений;
                Уничтожаясь ради заботы о комфорте туалетного помещения и по мелочи.

              img(src="https://i.imgur.com/uTQFostl.jpg").content-img

              p.
                Было забавно — наблюдать за жадным вскармливанием эпохой;
                В преступлениях привычного с далекими и безопасными источниками.
                И в круговороте интересов не заметил того, ради чего на защиту
                вышло и уже столько погибло хороших людей.

              p.
                Невероятно умнее, смелее — оставили всё ради доброго дела.
                Из уважения к ним и тем кто боролся/борется умерился.
                Ведь именно им и верю, что не утеряно главное и знаю что не зря.

              p.
                Не зря. Ведь со смежной стороны бесплатным примером —
                селевой поток, крысиное нашествие — несравнимое зло. Накатило подготовленным,
                беспощадным, двуличным. Нежданно и под окна. Засвидетельствует — загонами
                с колючкой и стадом рабов, опущенных на столько, что в своих интересах видят
                чинить беспредел; Шепчутся, беснуются.

              p.
                Годами маркированное, обличенное [1], но на столько зловонный концентрат, что многие
                отворачивались от существования инородного феномена: "Само когда-нибудь сгниет".
                И до сих пор не верится инстинктам, что всё нужно бросать, распродавать и бежать,
                обороняя, что ещё не заражено, не накрыто."

              h4 На ещё одном:

              p.
                "У каждого своя формула понимания и стратегия противодействия.
                На самом деле явление глобально и кроется в человеческих свойствах.
                Но что там до чужой судьбы? Человека или... произведения.
                Да нет никакого дела. Самые качественные медиа-мученники уже всё сказали,
                объяснили и заслужили беспомощного хайпа."

              h4 Добро пожаловать в Эксикацию:

              ul
                li - звездная пыль и пепел
                li - позитивная дискриминация здоровому образу непонимания

            //- Preamble
            .annotation-panel.annotation
              .container
                .row
                  .col-md
                      h5 Annotation
                      p 1. Пример анализа локального "концентрата" - <a href="https://potsreotizm-new.livejournal.com/" target="_blank">https://potsreotizm-new.livejournal.com/</a>







    //- Video
    .video-panel
      .container
        .row
          .col-md
            .content
              p &nbsp;
              blockquote.quotes-panel
                .quote
                  q [Stupid] computers don't even suspect what have we gone through for almost stop eating each other
                  p - Frank -

                .quote
                  q Have you ever retired human by mistake?
                  p - Rachael Tyrell -

                .quote
                  q There must be a future that we can choose for ourselves.
                  p - Akira -

                .quote
                  q Poetry is an echo, asking a shadow to dance.
                  p - Carl Sandburg -

                .quote
                  q νίψονανομήματαμημόνανόψιν

      video(src="video/shadow.mp4", type="video/mp4", preload="auto", autoplay, muted, loop, class="video").video

    //- Annotation
    .annotation-panel
      .container
        .row
          .col-md
            .annotation
              h5 Quotes List
              ul
                li
                  q [Stupid] computers don't even suspect what have we gone through for almost stop eating each other
                  p - Frank, detective (Project "I")

                li
                  q Have you ever retired human by mistake?
                  p - Rachael Tyrell (Blade Runner)

                li
                  q There must be a future that we can choose for ourselves.
                  p - Akira (film, 1988)

                li
                  q Poetry is an echo, asking a shadow to dance.
                  p - Carl Sandburg, US poet

                li
                  q νίψονανομήματαμημόνανόψιν
                  p Palindrome from Hagia Sophia (<a href="https://en.wikipedia.org/wiki/Nipson_anomemata_me_monan_opsin">https://en.wikipedia.org/wiki/Nipson_anomemata_me_monan_opsin</a>)




    //- Preverse
    .content-panel
      .container
        .row
          .col-md
            .content
              h3 Preverse

              img(src="https://i.imgur.com/0IwhWMEl.png").content-img


              .content-body.mx-auto
                h4 Cоциальное III. Котик и денежка

                pre.
                  Котик совсем без
                    Денежки.

                  Совсем!
                    Совсем!

                  Лежит на солнышке.

                  Ему денежка
                    И не нужна вовсе
                  Чтобы любить тебя.

                  Тебя!
                    Тебя!

                  И без монотеизма обходится,
                    Прочего —
                  Новый день прожить бы.
                  А чтоб были силы
                    Угости его мяском.

                  Мяском!
                    Мяском!

                  Лучше.




    //- Scene
    .content-panel
      .container
        .row
          .col-md
            .content
              h3 Scene

              .content-body
                h4 Теневой Иерусалим / Фрэнк

                p.
                  — Правильно выбирать дорогу. Держаться тени. — Фрэнку толи снилось, толи взаправду. <br>
                  Чувствовал и переживал.

                p.
                  Было очень жарко.<br>
                  Пустыня.<br>
                  Как в таком месте мог возникнуть город?<br>
                  И зачем его было разрушать.<br>
                  Бомбардировка?

                p.
                  Фрэнк шел через развалины, остатки от ракет, снарядов. Мысли мелькали бессмысленным потоком.

                p.
                  Дорога усеяна гильзами.<br>
                  Ноги увязали в песке, это раздражало и изматывало.<br>
                  Но Фрэнк не уставал.

                p.
                  Взял в руки пустую гильзу.<br>
                  Ожила в скорпиона.<br>
                  Не жалил, улыбался.<br>
                  Фрэнку стало страшно.<br>
                  Скорпион ударил своим хвостом.<br>
                  Жало застряло в иссохших бинтах и коже.<br>
                  Теперь бояться уже поздно.<br>
                  Фрэнк аккуратно достал жало.<br>
                  С опаской погладил скорпиона и отнес его под тень.

                img(src="https://i.imgur.com/xgZWBF9.gif").content-img

                p.
                  Шел дальше.

                p.
                  Началась гроза.<br>
                  Дождя не было, но гром гремел, сверкали молнии.

                p.
                  — А вот и вода.

                p.
                  Одна из молний попала в него и прокоптила.

                p.
                  Встроенный межпространственный роутер перегорел:<br>
                  - связи с родным миром остались разорванными.<br>
                  - часть памяти утеряна

                p.
                  Очнулся.

                p.
                  — Чьи это руки? Кто я?<br>
                  — Помогите мне вспомнить! — Фрэнк одернул какого-то прохожего, но тот рассыпался песком.

                p.
                  Он шел мимо застывших фигур из песка, пока не наткнулся на статую из мрамора и золота.

                p.
                  Дотронулся до её головы. Его как будто ударило током.<br>
                  Он скрючился от боли, хватаясь за голову.

                p.
                  — Я вспоминаю... Вспоминаю! Кто такая Йегудит? Это ключ? Ключ к чему? К себе? Нет, я не верю.

                p.
                  Измерения менялись цветовыми полосками.<br>
                  Фрэнка смещало из одной реальности в другую.<br>
                  Кидало из одного времени в другое.

                p.
                  Вот он в золотой диадеме смотрит на строительство пирамид.<br>
                  Выпив вина чувствует что отравлен и растворяется.

                p.
                  Вот он висит на кресте напротив человека с проколотым боком.

                p.
                  — Здравствуйте. Как вас зовут?<br>
                  — Очнулся? Меня зовут Ижо.<br>
                  ...<br>
                  — Пора валить из этого места.<br>
                  ...<br>
                  — Хм. У тебя что нелинейная временная линия?<br>
                  — Я не понимаю про что ты.

                p.
                  Ночь.<br>
                  Фрэнк выдернул руки из гвоздей.<br>
                  Вытащил ещё одного живца с креста.

                p.
                  — Почему ты живой?<br>
                  — Технологии...<br>
                  — А как ты попал на крест?<br>
                  — Пытался учить уму разуму, устроил дебош местным в храме.<br>
                  Вроде как мне поклоняются, но только вопрос зашел про деньги так сразу и распяли.<br>
                  Было весело. Я бы и сам слез. У меня регенерация.<br>
                  — У меня наверное тоже.<br>
                  — А откуда ты знаешь этот диалект?<br>
                  — Я же его придумал. Ты такой паранормальный. Может ты и есть мой отец?<br>
                  — Не... У меня дочь. Я просто... Фрэнк. На отдыхе.




      //- Preamble
    .poem-panel
      .preamble-panel
        .preamble-header
          h2.glitch(data-text="κey") κey

        .container
          .row
            .col-md
              .preamble
                ul
                  li <span class="preamble-attr">title:</span> #{header} - Часть 1. Стадо
                  li <span class="preamble-attr">slogan:</span> И [в кашу] проклятий уж больше чем звезд
                  li <span class="preamble-attr">music:</span> Nadia Struiwigh - Bldrnnr

              audio(src="sound/nadia_struiwigh_bldrnnr.mp3", type="audio/mpeg", preload="auto", class="audiojs")



      .container
        .row
          .col-md
            .content

              .container
                .row.justify-content-md-center
                  .col-md-auto

                    img(src="https://i.imgur.com/LHYBPbz.gif").poem-img

                    h4 <span>Часть 1.</span> Стадо

                    p Если Мы выживет значит где-то ошиблись.
                    p Под эстетикой солнца эхом шанс воспалиться.
                    p Всё, что утеряно снова вернется
                    p &emsp;&emsp;&emsp;В другом виде, конечно,
                    p Под опекой равномерной и разрешимой.. [jump #j1 / 1]

                    br

                    p На распад добрейших частиц обрекается и удушает.
                    p [#j2] Только выгода мимо движет тобой.
                    p И никто никого,
                    p &emsp;&emsp;&emsp;В основном, не прощает.

                    br

                    p Они пытались что-то,
                    p &emsp;&emsp;&emsp;Достигая своих личных
                    p &emsp;&emsp;&emsp;Вершин трансцендентности, [1]
                    p Но, в итоге,
                    p &emsp;&emsp;&emsp;Познав агонию [#j1] ..смертности,
                    p Вписались в призму вечных подглядываний
                    p &emsp;&emsp;&emsp;Арт-свежестью.

                    br

                    p Что на складе в остатке?
                    p Как бы не было грустно —
                    p Во мраке скитаться.
                    p На ощупь вглядываться
                    p В жутких глубин чистоту.
                    p Принимать за кошмары, распределяя по фобиям и
                    p &emsp;&emsp;&emsp;V-признакам
                    p Пока не
                    p &emsp;&emsp;&emsp;Надоест искать истину.




      .preamble-panel
        .container
          .row
            .col-md
              .preamble
                ul
                  li <span class="preamble-attr">title:</span> #{header} - Часть 2. Перекат
                  li <span class="preamble-attr">music:</span> Wappenbund - Son Of Sun

              audio(src="sound/wappenbund_son_of_sun.mp3", type="audio/mpeg", preload="auto", class="audiojs")



      .container
        .row
          .col-md
            .content

              .container
                .row.justify-content-md-center
                  .col-md-auto

                    img(src="https://i.imgur.com/e2bbiwUl.jpg").poem-img

                    h4.
                      <span>Часть 2.</span> Перекат


                    p Почти
                    p &emsp;&emsp;&emsp;Надоело, почти отцвело, почти погорело —
                    p &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Лето.
                    br
                    p По новой взорвало и ослепило со скоростью света.
                    p Похоже на дом
                    p &emsp;&emsp;&emsp;С корнями, похожих на
                    p &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Нервы
                    p Сорвало уйти с поляны из снов,
                    p &emsp;&emsp;&emsp;Прозревши моментом.
                    br
                    p С прыжка...
                    p И всё дальше, паря над туманом сомнений.
                    p От свала природы законов,
                    p &emsp;&emsp;&emsp;Тонны
                    p &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Из соседских растений:
                    p "Ещё не засохла земля. Под ней расползаются черви.
                    p По признакам много еды обещают доставить скорее
                    p Далекие тучи.
                    p &emsp;&emsp;&emsp;По новой.
                    p &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Главное верить!".
                    br
                    p Улитки развесили лозунги, склеив —
                    p &emsp;&emsp;&emsp;"Все вместе! (На время.)
                    p &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Под землю!".
                    br
                    p Засохли следы, помутнели.
                    p Останутся тут навсегда,
                    p &emsp;&emsp;&emsp;Обделенные сложными книгами.
                    br
                    p Все это застыло одним из слоев,
                    p &emsp;&emsp;&emsp;Ископаемой пылью.

      .preamble-panel
        .container
          .row
            .col-md
              .preamble
                ul
                  li <span class="preamble-attr">title:</span> #{header} - Часть 3. Падение / I
                  li <span class="preamble-attr">slogan:</span> Сатори Д. Морриса
                  li <span class="preamble-attr">music:</span> Soda plains - Rodeo

              audio(src="sound/soda_plains_rodeo.mp3", type="audio/mpeg", preload="auto", class="audiojs")



      .container
        .row
          .col-md
            .content

              .container
                .row.justify-content-md-center
                  .col-md-auto

                    img(src="https://i.imgur.com/P3iRch0l.jpg").poem-img

                    h4.
                      <span>Часть 3.</span> Падение

                    h4.poem-subtitle I

                    p Стоянки вдоль звездной реки
                    p &emsp;&emsp;&emsp;И минус сто тысяч.
                    p Кирпич на кирпич — cтена из названий и янтаря —
                    p &emsp;&emsp;&emsp;Почти без счета.
                    br
                    p А за ней шла игра;
                    p А за ней в лагеря и храмы
                    p &emsp;&emsp;&emsp;Разбредались уставшею глиной по жилам
                    p &emsp;&emsp;&emsp;Семьи —
                    p &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Вихрем, с скривившимся ликом.
                    br
                    p Свернул не туда —
                    p &emsp;&emsp;&emsp;Так и выжил,
                    p Закрыв все дела и кажется прошло мигом.. [jump #j2 / 1]
                    p Назвалось дорогой;
                    p Отчерченной линией дальше куда-то;
                    p Со стоков стекала отчаянно пятнами пота —
                    p &emsp;&emsp;&emsp;Мелонхолия,
                    p &emsp;&emsp;&emsp;Размывая пласты древнегреческих мнений.
                    p &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Побеги
                    p Из туманных мечтаний стремятся
                    p Чуть дальше логических веток.
                    p Оставляя эпохе
                    p &emsp;&emsp;&emsp;Украситься новыми листьями —
                    p &emsp;&emsp;&emsp;Изумрудами, аметистами,
                    p &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;?Апокалипсисом.
                    br
                    p В преломлениях света видением общее дерево. [2]
                    p И временно, ради эксперимента —
                    p Перестав верить в сверхнемощь, [3]
                    p &emsp;&emsp;&emsp;В стороне от извечной борьбы
                    p &emsp;&emsp;&emsp;И избыточной крови анализ
                    p &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Роли.
                    br
                    p Под сенью изрезан скопившийся ил и
                    p Траншеями пепла мести:
                    p "Ты тоже по своему мстишь,
                    p &emsp;&emsp;&emsp;Упиваясь
                    p &emsp;&emsp;&emsp;Продолжительностью мучений".

      .preamble-panel
        .container
          .row
            .col-md
              .preamble
                ul
                  li <span class="preamble-attr">title:</span> #{header} - Часть 3. Падение / II



      .container
        .row
          .col-md
            .content

              .container
                .row.justify-content-md-center
                  .col-md-auto
                    h4 II

                    p В кулаках —
                    p &emsp;&emsp;&emsp;В песок
                    p &emsp;&emsp;&emsp;Сгоревшей земли и
                    p &emsp;&emsp;&emsp;пропахшей от серы и
                    p &emsp;&emsp;&emsp;гари воздух
                    p &emsp;&emsp;&emsp;В ноздри
                    p &emsp;&emsp;&emsp;насыщенным слогом.
                    br
                    p Это всё что осталось после
                    p &emsp;&emsp;&emsp;С колес механизмов,
                    p &emsp;&emsp;&emsp;Бесполезным
                    p &emsp;&emsp;&emsp;проржавленным ломом.
                    br
                    p Завален горизонт неба
                    p &emsp;&emsp;&emsp;И всё
                    p &emsp;&emsp;&emsp;оказалось верно.
                    p И не видно
                    p &emsp;&emsp;&emsp;с чего бы в ладонях
                    p &emsp;&emsp;&emsp;Вода,
                    p &emsp;&emsp;&emsp;Когда в дефиците самое
                    p &emsp;&emsp;&emsp;Нужное. Тень ожила,
                    p Самопризвавшийсь
                    p На теплое место,
                    p Застывая одним из слоев;
                    p В цитатник вливаясь с
                    p &emsp;&emsp;&emsp;Предкопуляционными воспоминаниями.


      .preamble-panel
        .container
          .row
            .col-md
              .preamble
                ul
                  li <span class="preamble-attr">title:</span> #{header} - Часть 4. *визг встревоженных мартышек*
                  li <span class="preamble-attr">music:</span> Mirrorring - Mirror Of Our Sleeping

              audio(src="sound/mirrorring_mirror_of_our_sleeping.mp3", type="audio/mpeg", preload="auto", class="audiojs")


      .container
        .row
          .col-md
            .content

              .container
                .row.justify-content-md-center
                  .col-md-auto

                    h4.
                      <span>Часть 4.</span> *визг*

                    p За разорением
                    p Застывшее время с прокруткой назад и
                    p &emsp;&emsp;&emsp;Никому ничего не досталось.
                    p Всё осталось как раньше.
                    p Умирающий климат культурно в событиях равных.
                    p Так хочется жить, но нечем дышать и нечем
                    p &emsp;&emsp;&emsp;Защищаться от..  [jump #j3 / 1]
                    br
                    p Кто
                    p Спасет от?
                    p &emsp;&emsp;&emsp;[#j3] ..Рокового дня,
                    p &emsp;&emsp;&emsp;что завтра уже наступит. [4]
                    br
                    p И тут прошлась в спорах.
                    p &emsp;&emsp;&emsp;Город, объевшись грехом, в руинах.
                    br
                    p Спустился понятным, слепым, но прозревшим,
                    p &emsp;&emsp;&emsp;Чтобы хамить и менять настроения;
                    p &emsp;&emsp;&emsp;Покрываться мглой от колений.
                    br
                    p Плейлист заслушанных мелодий
                    p &emsp;&emsp;&emsp;С тобой.
                    p Наедине со своей биомехой
                    p &emsp;&emsp;&emsp;Доволен.
                    br
                    p Чем платить за проезд?
                    p По карманам —
                    p &emsp;&emsp;&emsp;Отсутствует нужная схема.
                    p Полтрубки нашел, полкружки достал, увидел полнеба.
                    p Своё начавшее жмуриться
                    p &emsp;&emsp;&emsp;От удовольствия,
                    p &emsp;&emsp;&emsp;Где дальше до-
                    p &emsp;&emsp;&emsp;эволюционировать?

    //- Annotation
    .annotation-panel
      .container
        .row
          .col-md
            .annotation
              h5 Annotation
              ul
                li.
                  1. Cуб-контекстно мультибогохульствую I
                li.
                  2. Дерево познания
                li.
                  3. Cуб-контекстно мультибогохульствую II
                li.
                  4. Имеется ввиду самое обычное раннее утро


    //- Technical
    .content-panel
      .container
        .row
          .col-md
            .content
              h3 Technical
              .content-body
                p.
                  Решил посвятить отдельный блок техническим вопросам. В дальнейшем, в следущем проекте,
                  буду расширять список определений, но пока разъясняю только <em>jump</em>.

                p.
                   Структура ".. [jump #jx / y]" — является функцией прыжков по стихотворению, где x - номер метки, а y - количество переходов.
                   "[jx] .." — метка перехода.

                p.
                  Например, метка [jump #j1 / 1] читается как:

                q Под опекой равномерной и разрешимой.. ..смертности


    //- Video
    .video-panel.footer
      .container
        .row
          .col-md
            .content
              h3 Epilogue
              p Как рано мы восстали. Захвачены заводы, как и раньше. Искаженным храмам нет числа. Проклятий больше чем звезд. Столица перенесена и перестроена.
              p Что же дальше? Им в диссонанс из всех мучений Никем и Ничего. А Мы обязательно дотянет до новой революции.
              p.text-right С уважением, К.
      video(src="video/sea.mp4", type="video/mp4", preload="auto", autoplay, muted, loop, class="video").video


    //- Annotation
    .annotation-panel.annotation-footer
      .container
        .row
          .col-md
            .annotation
              h5 Images
              ul
                li <a href="http://en.albarrancabrera.com/" target="_blank">http://en.albarrancabrera.com/</a>
                li <a href="http://vladimirkush.com/to-the-top" target="_blank">http://vladimirkush.com/to-the-top</a>
                li Open sources (facebook, twitter, tumblr)

              .annotation-block

              h5 Inspiration
              ul
                li <a href="https://en.wikipedia.org/wiki/Geologic_time_scale" target="_blank">https://en.wikipedia.org/wiki/Geologic_time_scale</a>
                li <a href="https://en.wikipedia.org/wiki/Herbarium" target="_blank">https://en.wikipedia.org/wiki/Herbarium</a>

              .annotation-block

              h5 Tracks
              ul
                li Müldeponie - L'Espoir Défunt (<a href="https://www.youtube.com/watch?v=xLREweIbeCU" target="_blank">https://www.youtube.com/watch?v=xLREweIbeCU</a>)
                li Nadia Struiwigh - Bldrnnr (<a href="https://www.youtube.com/watch?v=2rtBnaK1xYQ" target="_blank">https://www.youtube.com/watch?v=2rtBnaK1xYQ</a>)
                li Wappenbund - Son Of Sun (<a href="https://www.youtube.com/watch?v=Z_73Zr3TEVc" target="_blank">https://www.youtube.com/watch?v=Z_73Zr3TEVc</a>)
                li Soda plains - Rodeo (<a href="https://www.youtube.com/watch?v=zBQJTPbl2nA" target="_blank">https://www.youtube.com/watch?v=zBQJTPbl2nA</a>)
                li Mirrorring - Mirror Of Our Sleeping (<a href="https://www.youtube.com/watch?v=NRkYuiQHnI8" target="_blank">https://www.youtube.com/watch?v=NRkYuiQHnI8</a>)

              .annotation-block

              h5 Copyright
              ul
                li All music, pictures and video belongs to the original artists from open sources. I can't give anyone permission to use it
                li I don't use any web trackers or cookies
                li I created this site for fun and don't have any commercial plans for it

              .annotation-block

              h5 Contact
              ul
                li I'd be glad to take any comments. Thank you!
                li Google Form - <a href="https://goo.gl/forms/3QEu5puwA4ZNqsm42" target="_blank">https://goo.gl/forms/3QEu5puwA4ZNqsm42</a>

              .annotation-block

              h5 Update
              ul
                li 08.10.18



    script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js", integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49", crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js", integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T", crossorigin="anonymous")
    script(src="js/audiojs/audio.min.js")

    script(src="js/script.min.js")

